{% extends 'base.html.twig' %}

{% block body %}
    <div class="box container col-md-4 col-xs-8">
        <h2 class="form-heading">
            Project to testpractice with Oauth using <a href="https://github.com/hwi/HWIOAuthBundle">HWIOAuthBundle</a> and
            <a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a>
        </h2>
    </div>
{% endblock %}
